.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-container {
  width: 400px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  margin: 0 auto 30px;
  width: 190px;
}

.error-message {
  display: inline-block;
  color: #ff0000;
  text-align: center;
  font-weight: bold;
  background-color: #ffdfdf;
}
.error-div {
  text-align: center;
  height: 53px;
}
.bottom-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  text-align: center;
  padding-bottom: 8px;
}
.checkbox-group,
label {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333333;
}
.form-textarea,
.form-input {
  width: 80%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 8px;
}
.form-textarea {
  resize: vertical;
  height: 100px;
}

.login-button {
  padding: 12px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}
